<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Form</title>
</head>
<body>
        <h2>Email Form</h2>
        <form name="email" method="post">
            Sender's Name:<br>
                <input type="text" name="sendName">
            <br><br>
            Receiver's Name:<br>
                <input type="text" name="recieveName">
            <br><br>
            To:
            <br>
                <input type="text" name="To"><br><br>
            Subject:
            <br>
                <input type="text" name="Subject"><br><br>
            Message:
            <br>
                <textarea name="Message" maxlength="50" rows="4" cols="50" placeholder="Type your message here"></textarea>
            <br>
            <br>
                <input type="submit" name="Submit" >

        </form>
</body>
</html>